.xui-project-newBusinessRequirementDialog .col-sm-5 input {
	width: 730px;
}
.xui-project-newBusinessRequirementDialog .col-sm-5 select {
	width: 130px;
}
.xui-project-newBusinessRequirementDialog .form-horizontal .control-label {
	width: 100px;
}

.xui-project-businessRequirementsPage .xui-i-title {
	display: block;
	cursor: pointer;
}

.xui-project-editBusinessRequirementDialog .xui-i-content {
	border-bottom: solid 1px #EFEFEF;
	padding-bottom: 10px;
}
.xui-project-editBusinessRequirementDialog .xui-i-bar {
	background-color: #EFEFEF;
}
.xui-project-editBusinessRequirementDialog .xui-i-actionArea label {
	display: none;
}
.xui-project-editBusinessRequirementDialog .xui-i-actionArea .form-group {
	margin-right: 0px;
	margin-left: 0px !important;
}
.xui-project-editBusinessRequirementDialog .xui-i-actionArea .col-sm-5 {
	padding-left: 0px;
}