.xui-project-newRequirementDialog .col-sm-5 input {
	width: 730px;
}
.xui-project-newRequirementDialog .col-sm-5 select {
	width: 130px;
}
.xui-project-newRequirementDialog .form-horizontal .control-label {
	width: 100px;
}

.xui-project-requirementsPage .xui-i-title {
	display: block;
	cursor: pointer;
}

.xui-project-editRequirementDialog .xui-i-content {
	border-bottom: solid 1px #EFEFEF;
	padding-bottom: 10px;
}
.xui-project-editRequirementDialog .xui-i-bar {
	background-color: #EFEFEF;
}
.xui-project-requirementCommentList .xui-i-comment {
	margin: 10px;
    padding: 5px 10px;
    border-bottom: solid 1px #DDD;
    position: relative;
}
.xui-project-requirementCommentList .xui-i-actionBar {
	position: absolute;
	top: 5px;
	right: 10px;
}
.xui-project-requirementCommentList .xui-i-thumbnail {
	display: block;
    width: 50px;
    border-radius: 10px;
}
.xui-project-requirementCommentList .xui-i-date {
    text-align: right;
    color: #BBB;
}